html {
    scroll-behavior: smooth;
}

header {
    background: url("../img/img_fond.png") no-repeat fixed;
    flex-direction: column-reverse;
    bottom: 4vw;
    padding-top: 20vh;
    height: 100vh;
}

.content-img-icone div img{
    width: 150px;
}


@media (max-width: 660px) {
   #content-img-text{
       margin-top: 0;
   }
   nav{
       visibility: hidden;
   }

   header div img{
       visibility: hidden;
   }

   .content-img-icone div img{
    width: 70px;
}
}