html {
    scroll-behavior: smooth;
}

header {
    background: url("../img/img_fond.png") no-repeat fixed;
    flex-direction: column-reverse;
    bottom: 4vw;
}

@media (max-width: 560px) {
   #test{
       margin-top: 0;
   }
   nav{
       visibility: hidden;
   }
}